{% extends "base.html" %}
{% block title %}{{ 'Novo' if mode=='new' else 'Editar' }} CL2{% endblock %}
{% block content %}
  {% include "_tabs_inventory.html" %}
  <h3 class="mb-3">{{ 'Novo' if mode=='new' else 'Editar' }} CL2</h3>
  <form method="post" class="row g-3">
    {{ form.csrf_token }}
    <div class="col-md-6">
      {{ form.nome.label(class="form-label") }}
      {{ form.nome(class="form-control") }}
    </div>
    <div class="col-md-6">
      {{ form.situacao.label(class="form-label") }}
      {{ form.situacao(class="form-control") }}
    </div>
    <div class="col-md-4">
      {{ form.qtd_prevista.label(class="form-label") }}
      {{ form.qtd_prevista(class="form-control") }}
    </div>
    <div class="col-md-4">
      {{ form.qtd_disp.label(class="form-label") }}
      {{ form.qtd_disp(class="form-control") }}
    </div>
    <div class="col-md-4">
      {{ form.qtd_indisp.label(class="form-label") }}
      {{ form.qtd_indisp(class="form-control") }}
    </div>
    <div class="col-12">
      {{ form.submit(class="btn btn-primary") }}
      <a class="btn btn-secondary" href="{{ url_for('inv.cl2_list') }}">Voltar</a>
    </div>
  </form>
{% endblock %}
