{% extends "base.html" %}
{% block content %}
<h2>{{ 'Novo CL2' if mode=='new' else 'Editar CL2' }}</h2>
<form method="post">
  {{ form.csrf_token }}
  {{ form.item_id.label }} {{ form.item_id(size=20) }}<br>
  {{ form.nome.label }} {{ form.nome(size=30) }}<br>
  {{ form.situacao.label }} {{ form.situacao() }}<br>
  {{ form.qtd_prevista.label }} {{ form.qtd_prevista(size=8) }}<br>
  {{ form.qtd_disp.label }} {{ form.qtd_disp(size=8) }}<br>
  {{ form.qtd_indisp.label }} {{ form.qtd_indisp(size=8) }}<br>
  {{ form.submit() }}
</form>
{% endblock %}
